/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset ends here */

/* border for easier styling */
*{
    box-sizing: border-box;
    max-width: 100%;
    border:1px solid grey;
    color: grey;
}



/* General Styles */
html{
    font-size:62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;  
    background-color: white;
}

h1{
    font-size: 10rem;
}

h2{
    font-size: 5rem;
}

/* general styles end here */

/* header */
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.h2name {
    background-color: #133c55;
}

.fourbuttons{
    display: flex;
    width: 30%;
    text-align: center;
}

.fourbuttons a{
    background-color: #133c55;(158, 158, 158);
    margin: auto;
    width: 30%;
    height: 50%;
    text-align: center;
    color:white;
    text-decoration:none;
}
/* header ends here */
/* big square starts here */
.bigimage{
    text-align: center;
    background-image: url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-size:cover;
    margin: 1% 10%;
}
.bigimagepadding{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
}
.bigimagecontent{
    margin:10% 10%;
}


/* big square ends here */

/* six square starts here */

.threesquare {
    display: flex;
    justify-content: space-evenly;
    height:100px;
}

.threesquaresub {
    display: flex;
    justify-content: space-around;
    margin: 1% 0;
}

.square1, .square2, .square3{
    width: 33%;
    
    
}
.square1{
    background-image: url(../images/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
    background-size:cover;
}
.square2{
    background-image: url(../images/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg);
    background-size:cover;
}
.square3{
    background-image: url(../images/procreator-ux-design-studio-VzJjPuk53sk-unsplash.jpg);
    background-size:cover;
}
/* six square ends here */


/* footer starts here */
footer{
    width: 100%;
    
    background-color: #e0e1dd;
}


.footersquare{
    display:flex;
    justify-content: space-evenly;
    position: center;
    
}

